#details {
    @include span-columns(12);
    @include omega();
    ul {
        list-style-type: none;
    }
    .single, .multiple {
        @include span-columns(10);
        @include shift(1);
    }
    .static, .misc, .buffs, .powers {
        @include span-columns(5 of 10);
    }
    .misc {
        @include omega();
    }
    .static {
        span {
            display: inline-block;
            width: 100px;
        }
    }
    .misc {
        span {
            display: inline-block;
            width: 120px;
        }
    }
    .powers {
        span {
            display: inline-block;
            width: 100px;
        }
    }
}