header {
    @include span-columns(12);
    background-color: lightgrey;
    border-bottom: 2px solid black;

    ul {
        list-style-type: none;
        margin-bottom: 0;
        li {
            margin: 10px 0;
        }
    }

    .stats {
        @include span-columns(10 of 12);

        .portrait {
            @include span-columns(1 of 10);
        }
        ul {
            @include span-columns(9 of 10);
            span {
                display: inline-block;
                width: 60px;
                text-align: right;
                margin-right: 20px;
            }
        }
    }
    nav {
        @include span-columns(2 of 12);
        @include omega();
        text-align: right;
        padding-right: 20px;
    }
}