header {
    @include span-columns(12);
    background-color: #ecf0f1;
    border-bottom: 1px solid #2c3e50;
    padding: 10px;
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline;
            text-align: center;
            a {
                color: #2c3e50;
            }
            &.die, &.total, &.clear {
                @include span-columns(1.5 of 12);
            }
        }
    }
}