#play {
    ul {
        list-style-type: none;
        padding: 0;
    }
    label {
        cursor: pointer;
    }
    .stats, .rolls {
        @include span-columns(9);
        @include shift(1.5);
    }
    .block {
        @include span-columns(3 of 9);
    }
    .defences, .powers {
        @include omega();
    }
    .buffs {
        @include span-columns(9);
        @include shift(1.5);
        @include omega();
        input {
            width: 100%;
            padding: 5px;
            outline: none;
            border: 1px solid black;
        }
    }
    .info, .defences {
        span, label {
            display: inline-block;
            width: 120px;
            margin-right: 10px;
            text-align: right;
        }
    }
    .abilities {
        li {
            margin: 5px 0;
        }
        span, label {
            display: inline-block;
            width: 60px;
        }
    }
    .skills {
        li {
            margin: 5px 0;
        }
        span, label {
            display: inline-block;
            width: 180px;
        }
    }
    .powers {
        .power {
            h4 {
                margin: 0;
                cursor: pointer;
            }
            .frequency {
                margin: 0;
                font-size: smaller;
            }
            .description {
                margin: 0;
            }
            label {
                display: inline;
                margin-left: 20px;
            }
            li {
                margin: 5px 0;
            }
        }
    }
}