<!DOCTYPE html>
<html lang="en" ng-app="characterApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>D&D4e Character Sheet</title>
    <meta name="author" content="William Mayor">
    <meta name="keywords" content="D&D, DnD, Dungeons and Dragons, 4e, 4th edition, character sheet">
    <meta name="description" content="An online D&D4e character sheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="main.min.css" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript" src="js/ngStorage.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</head>
<body ng-controller="CharacterCtrl">
    <header>
        <div class="stats">
            <div class="portrait"><img src="http://placehold.it/100x150" alt="Character portrait" /></div>
            <ul>
                <li><span>Name:</span><input type="text" ng-model="$storage.name" /></li>
                <li><span>XP:</span><input type="number" ng-model="$storage.xp" ng-change="update()" /></li>
                <li><span>HP:</span><input type="number" ng-model="$storage.hp" ng-change="update()" /></li>
                <li><span>Gold:</span><input type="text" ng-model="$storage.gold" /></li>
            </ul>
        </div>
        <div class="dice">
            <ul>
                <li><a ng-click="top_dice_clear()">clear</a></li>
                <li><a ng-click="top_dice_roll(4)">d4</a></li>
                <li><a ng-click="top_dice_roll(6)">d6</a></li>
                <li><a ng-click="top_dice_roll(8)">d8</a></li>
                <li><a ng-click="top_dice_roll(10)">d10</a></li>
                <li><a ng-click="top_dice_roll(12)">d12</a></li>
                <li><a ng-click="top_dice_roll(20)">d20</a></li>
            </ul>
            <p>
                <span ng-repeat="roll in $storage.top_dice_rolls">
                    {{ roll.value }}
                    <span ng-if="!$last"> + </span>
                </span>
                <span> = {{ $storage.top_dice_sum }}</span>
            </p>
        </div>
        <nav>
            <ul>
                <li><a href="#play">play</a></li>
                <li><a href="#details">details</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="play">
            <h2>Play</h2>
            <div class="buffs">
                <span>Buffs/Debuffs:</span> <input type="text" ng-model="$storage.temp_buffs" ng-change="update()" />
            </div>
            <div class="stats">
                <div class="block info">
                    <h3>Info</h3>
                    <ul>
                        <li><span>Speed:</span> {{ speed }}</li>
                        <li><span>Level:</span> {{ lvl }}</li>
                        <li><span>Max HP:</span> {{ max_hp }}</li>
                        <li><span>Surges per Day:</span> {{ surges_per_day }}</li>
                        <li><span>Surge Amount:</span> {{ surge_amount }}</li>
                    </ul>
                </div>
                <div class="block conditions">
                    <h3>Conditions</h3>
                    <ul>
                        <li><input type="checkbox" id="take_ten" ng-model="$storage.take_ten" /><label for="take_ten"> Take ten</label></li>
                        <li><input type="checkbox" id="pc_bloodied" ng-model="$storage.pc_bloodied" /><label for="pc_bloodied"> PC bloodied</label></li>
                    </ul>
                </div>
                <div class="block defences">
                    <h3>Defences</h3>
                    <ul>
                        <li><span>Armor Class:</span> {{ ac }}</li>
                        <li><span>Fortitude:</span> {{ fort }}</li>
                        <li><span>Reflex:</span> {{ ref }}</li>
                        <li><span>Will:</span> {{ will }}</li>
                    </ul>
                </div>
            </div>
            <div class="rolls">
                <div class="block abilities">
                    <h3>Abilities</h3>
                    <ul>
                        <li ng-repeat="ability in $storage.abilities" ng-click="roll(ability)">
                            <label><i class="fa fa-refresh fa-rotate-{{ ability.rotate }}"></i> {{ ability.id }}:</label> {{ ability.last_roll }}
                        </li>
                    </ul>
                </div>
                <div class="block skills">
                    <h3>Skills</h3>
                    <ul>
                        <li ng-repeat="skill in $storage.skills" ng-click="roll(skill)">
                            <label><i class="fa fa-refresh fa-rotate-{{ skill.rotate }}"></i> {{ skill.id }}: </label>{{ skill.last_roll }}
                        </li>
                    </ul>
                </div>
                <div class="block powers">
                    <h3>Powers</h3>
                    <ul>
                        <li class="power" ng-repeat="power in $storage.powers">
                            <h4 ng-click="power.hide_desc = !power.hide_desc">{{ power.name }}</h4>
                            <p class="frequency">{{ power.frequency }}</p>
                            <p class="description" ng-hide="power.hide_desc">{{ power.description }}</p>
                            <ul>
                                <li ng-repeat="r in power.rolls" ng-click="roll(r)">
                                <label><i class="fa fa-refresh fa-rotate-{{ r.rotate }}"></i> {{ r.name }}: </label>{{ r.last_roll }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="details">
            <h2>Details</h2>
            <div class="single">
                <ul class="static">
                    <li><h3>Static</h3></li>
                    <li><span>Class:</span><input type="text" ng-model="$storage.class_" /></li>
                    <li><span>Paragon Path:</span><input type="text" ng-model="$storage.paragon_path" ng-disabled="!is_paragon" /></li>
                    <li><span>Epic Destiny:</span><input type="text" ng-model="$storage.epic_destiny" ng-disabled="!is_epic" /></li>
                    <li><span>Race:</span><input type="text" ng-model="$storage.race" /></li>
                    <li><span>Size:</span><input type="text" ng-model="$storage.size" /></li>
                    <li><span>Age:</span><input type="number" ng-model="$storage.age" /></li>
                    <li><span>Gender:</span><input type="text" ng-model="$storage.gender" /></li>
                    <li><span>Height:</span><input type="text" ng-model="$storage.height" /></li>
                    <li><span>Weight:</span><input type="text" ng-model="$storage.weight" /></li>
                    <li><span>Alignment:</span><input type="text" ng-model="$storage.alignment" /></li>
                    <li><span>Deity:</span><input type="text" ng-model="$storage.deity" /></li>
                    <li><span>Adventuring Company:</span><input type="text" ng-model="$storage.adventuring_company" /></li>
                    <li><span>Other Affiliations:</span><input type="text" ng-model="$storage.other_affiliation" /></li>
                </ul>
                <ul class="misc">
                    <li><h3>Misc</h3></li>
                    <li><span>Speed:</span> <input type="text" ng-model="$storage.other.SPD.value" ng-change="update()" /></li>
                    <li><span>Max HP:</span> <input type="text" ng-model="$storage.other.MHP.value" ng-change="update()" /></li>
                    <li><span>Surges per Day:</span> <input type="text" ng-model="$storage.other.SUR_PD.value" ng-change="update()" /></li>
                    <li><span>Surge Amount:</span> <input type="text" ng-model="$storage.other.SUR_A.value" ng-change="update()" /></li>
                </ul>
            </div>
            <div class="multiple">
                <ul class="buffs">
                    <li><h3>Buffs</h3></li>
                    <li class="buff" ng-repeat="buff in $storage.buffs">
                        <input type="text" ng-model="buff.value" />
                    </li>
                    <li><a ng-click="add_buff()">add</a></li>
                </ul>
                <ul class="powers">
                    <li><h3>Powers</h3></li>
                    <li class="power" ng-repeat="power in $storage.powers">
                        <ul>
                            <li><span>Name:</span> <input type="text" ng-model="power.name" /></li>
                            <li><span>Frequency:</span> <input type="text" ng-model="power.frequency" /></li>
                            <li><span>Description:</span> <textarea ng-model="power.description"></textarea></li>
                            <li><span>Rolls:</span> <ul>
                                <li ng-repeat="r in power.rolls">
                                    <input type="text" ng-model="r.name" /><input type="text" ng-model="r.roll" />
                                </li>
                                <li><a ng-click="add_roll(power.rolls)">add</a></li>
                            </ul></li>
                        </ul>
                    </li>
                    <li><a ng-click="add_power()">add</a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
    <a ng-click="reset()">reset</a>
    </footer>
</body>
</html>